.idea/
/scripts/
mirp/__pycache__/
*.pyc
test/data/reference_values/.Rhistory
test/.Rhistory
test/data/temp
/test/data/configuration_files/temp_test_config_data.xml
/mirp.egg-info/
/dist/
docs_source/build/*
test/data/configuration_files/settings.xml
/test/data/temp_data/
.coverage
/docs_source/source/.ipynb_checkpoints
/docs_source/source/sts_images
/prof
